@model IEnumerable<pb_projekt.Models.Cargo>

@{
    ViewData["Title"] = "Hangar Cargo";
}

<h2 class="header-text">Hangar Cargo</h2>

<table class="primary">
    <thead>
        <tr>
            <th>Serial Number</th>
            <th>Security Level</th>
            <th>Weight</th>
            <th>Cargo Type</th>
            <th>Destination Port</th>
            <th>Move to land shipment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cargo in Model)
        {
                <tr>
                    <td>@cargo.SerialNumber</td>
                    <td>@cargo.SecurityLevel</td>
                    <td>@cargo.Weight</td>
                    <td>@cargo.CargoType</td>
                    <td>@cargo.DestinationPort</td>
                    <td>
                        <form asp-action="TransferCargo" method="post">
                        @Html.AntiForgeryToken()
                            <input type="hidden" name="cargoId" value="@cargo.Id" />
                            <select name="landShipmentId">
                            @foreach (var landShipment in ViewBag.LandShipments)
                            {
                                        <option value="@landShipment.Id">@landShipment.Id</option>
                            }
                            </select>
                            <button type="submit">Move</button>
                        </form>
                    </td>
                </tr>
        }
    </tbody>
</table>
