<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="@Url.RouteUrl("Ships")">Ships</a></li>
            <li><a href="@Url.RouteUrl("Hangars")">Hangars</a></li>
            <li><a href="@Url.RouteUrl("LandShipments")">Land Shipments</a></li>
            <li><a href="@Url.RouteUrl("UnloadingEquipment")">Unloading equipment</a></li>
        </ul>
    </div>
    @RenderBody()
    <footer>
        <p>&copy; 2024 - pb_projekt</p>
    </footer>
</body>
</html>
