@model pb_projekt.Models.Ship

@{
    ViewData["Title"] = $"Cargo of Ship {Model.Id}";
}

<h2 class="header-text">Cargo of Ship @Model.Id</h2>

@if (!Model.Cargoes.Any())
{
        <p style="text-align: center;">No cargo available for this ship.</p>
}
else
{
        <table class="primary">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Serial Number</th>
                    <th>Security Level</th>
                    <th>Weight</th>
                    <th>Cargo Type</th>
                    <th>Destination Port</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var cargo in Model.Cargoes)
            {
                        <tr>
                            <td>@cargo.Id</td>
                            <td>@cargo.SerialNumber</td>
                            <td>@cargo.SecurityLevel</td>
                            <td>@cargo.Weight</td>
                            <td>@cargo.CargoType</td>
                            <td>@cargo.DestinationPort</td>
                            <td>
                                <form asp-action="TransferCargo" method="post">
                            @Html.AntiForgeryToken()
                                    <input type="hidden" name="cargoId" value="@cargo.Id" />
                                    <select name="hangarId">
                                 @foreach (var hangar in ViewBag.Hangars)
                                {
                                                <option value="@hangar.Id">@hangar.Id</option>
                                }
                                    </select>
                                    <button type="submit">Prześlij</button>
                                </form>
                            </td>
                        </tr>
            }
            </tbody>
        </table>
}
