@model IEnumerable<pb_projekt.Models.Ship>

@{
    ViewData["Title"] = "Ships";
}

<h2 style="text-align: center; margin-bottom: 20px;">All Ships</h2>

<a href="/ships/add">Add ship</a>

<table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
    <thead>
        <tr>
            <th style="padding: 10px; border: 1px solid #ddd; background-color: #f2f2f2; text-align: left;">ID</th>
            <th style="padding: 10px; border: 1px solid #ddd; background-color: #f2f2f2; text-align: left;">Cargo Capacity</th>
            <th style="padding: 10px; border: 1px solid #ddd; background-color: #f2f2f2; text-align: left;">Docking Space</th>
            <th style="padding: 10px; border: 1px solid #ddd; background-color: #f2f2f2; text-align: left;">Unloading In Progress</th>
            <th style="padding: 10px; border: 1px solid #ddd; background-color: #f2f2f2; text-align: left;">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ship in Model)
        {
                <tr>
                    <td style="padding: 10px; border: 1px solid #ddd; text-align: left;">@ship.Id</td>
                    <td style="padding: 10px; border: 1px solid #ddd; text-align: left;">@ship.CargoCapacity</td>
                    <td style="padding: 10px; border: 1px solid #ddd; text-align: left;">@ship.DockingSpace</td>
                    <td style="padding: 10px; border: 1px solid #ddd; text-align: left;">
                    @if (ship.IsUnloadingInProgress)
                    {
                                <a href="@Url.Action("UnloadingEquipment", new { id = ship.Id })" style="text-decoration: none; color: blue;">Yes</a>
                    }
                    else
                    {
                                <a>No</a>
                    }
                    </td>
                    <td style="padding: 10px; border: 1px solid #ddd; text-align: left;">
                        <a href="@Url.RouteUrl("ShipCargo", new { id = ship.Id })" style="text-decoration: none; color: blue;">View Cargo</a>
                    </td>
                    <td style="padding: 10px; border: 1px solid #ddd; text-align: left;">
                        @using (Html.BeginForm("Remove", "Ships", FormMethod.Post))
                        {
                            @Html.Hidden("ShipId", ship.Id)
                            <button type="submit">Delete</button>
                        }
                    </td>
                </tr>
        }
    </tbody>
</table>

<footer style="background-color: #333; color: #fff; text-align: center; padding: 20px 0; position: fixed; bottom: 0; width: 100%;">
    <p>&copy; 2024 - pb_projekt</p>
</footer>
