@model IEnumerable<pb_projekt.Models.Ship>

@{
    ViewData["Title"] = "Ships";
}

<h2 class="header-text">All Ships</h2>

<a href="@Url.RouteUrl("AddShip")" style="text-decoration: none; color: blue;">Add ship</a>

<table class="primary">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cargo Capacity</th>
            <th>Docking Space</th>
            <th>Unloading In Progress</th>
            <th>Cargo Actions</th>
            <th>Ship Actions</th>
            <th>Unloading Equipment Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ship in Model)
        {
                <tr>
                    <td>@ship.Id</td>
                    <td>@ship.CargoCapacity</td>
                    <td>@ship.DockingSpace</td>
                    <td>
                    @if (ship.IsUnloadingInProgress)
                    {
                                <a href="@Url.Action("UnloadingEquipment", new { id = ship.Id })" style="text-decoration: none; color: blue;">Yes</a>
                    }
                    else
                    {
                                <a>No</a>
                    }
                    </td>
                    <td>
                        <a href="@Url.RouteUrl("ShipCargo", new { id = ship.Id })" style="text-decoration: none; color: blue;">View</a>
                    </td>
                    <td class="td-row">
                        <a href="@Url.RouteUrl("ShipEdit", new { id = ship.Id })" style="text-decoration: none; color: blue;">Edit</a>

                    @using (Html.BeginForm("Remove", "Ships", FormMethod.Post))
                    {
                        @Html.Hidden("ShipId", ship.Id)
                                <button class="action-btn" type="submit">Delete</button>
                    }
                    </td>
                    <td>
                    @using (Html.BeginForm("AssignUnloadingEquipment", "Ships", FormMethod.Post, new { @id =ship.Id }))
                    {
                        @Html.AntiForgeryToken()
                                <input type="hidden" name="shipId" value="@ship.Id" />
                                <select name="equipmentId">
                            @foreach (var equipment in ViewBag.UnassignedEquipments)
                            {
                                            <option value="@equipment.Id">@equipment.EquipmentType (SN: @equipment.SerialNumber)</option>
                            }
                                </select>
                                <button type="submit">Assign Equipment</button>
                    }
                    @using (Html.BeginForm("UnloadAllEquipment", "Ships", FormMethod.Post, new { @id = ship.Id }))
                    {
                        @Html.AntiForgeryToken()
                                <input type="hidden" name="idstatku" value="@ship.Id" />
                                <button type="submit">Unload All Equipment</button>
                    }
                    </td>
                </tr>
        }
    </tbody>
</table>
